<% content_for :body_content_left do %>
  <div class='inquiries'>
    <%=  raw @page.content_for(Refinery::Page.default_parts.first.to_sym) %>
    <h2 id="contact-form"><%= t('contact_form') %></h2>
    <%= render :partial => "/refinery/inquiries/form",
      :locals => {
      :object => @inquiry,
      :include_object_name => true
    } %>
  </div>
<% end %>
<%= render :partial => "/refinery/content_page" %>
